* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Serif;
    text-align: center;
}

.header {
    height: 80px;
    background: #15317E;
    width: 100%;
    color: white;
}

.header h1 {
    display: block;
    padding: 20px;
}

.header h1 span {
    font-weight: 200;
}

.form {
    margin-top: 40px;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

input {
    height: 35px;
    width: 200px;
    border-radius: 6px;
    border: 1px solid royalblue;
    outline: none;
    padding: 5px;
    font-weight: bolder;
}

input:focus {
    border: 1px solid royalblue;
    outline: none;
}

button  {
  position: relative;
  border: 1px solid royalblue;
  background: white;
  cursor: pointer;
  border-radius: 4px;
  margin: 20px;
  padding: 8px 15px;
  font-weight: bolder;
  transition: 0.8s;
  color: royalblue;
  overflow: hidden;
  z-index: 0;
  outline: none;
}

button:hover {
  color: white;
}

button:hover::before {
  height: 180%;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: royalblue;
  transition: .8s;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  outline: none;
}

button:focus, button::before:focus {
    border: 1px solid royalblue;
    outline: none;
}

.errors {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
    background: #F8D7DA;
}

.errors p {
    padding: 8px 15px;
    color: #721C24;
}

.image {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 800px;
    max-height: 800px;
    margin-top: 40px;
    width: 90%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, .2);
    margin-bottom: 40px;
}

.download_button {
    padding: 10px 15px;
    background: royalblue;
    text-decoration: none;
    border-radius: 6px;
    color: white;
}