{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StalkInsta</title>
    <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <div class="header">
        <a id="header_link" href="{% url 'homepage' %}"><h1>Stalk<span>Insta</span></h1></a>
    </div>
    <div class="form"></div>
        <h2>Get Full Resoultion Instagram's DP</h2>
        <form id="user_form" method="post">
            {% csrf_token %}
            {% for i in form %}
                {{ i }}
            {% endfor %}
            <br><button id="hideImg" type="submit" onclick="hideIt()">Submit</button>
        </form>
        <img id="loader" src="{% static 'loading.gif' %}" alt="Wait Stalker, Your request is Processing!!!" title="Loading">
        <div class="loadContent">
        </div>
</body>
<script>
    $(document).ready(function() {
        $('#user_form').on('submit', function () {
            const img = document.getElementById('loader');
            img.style.display = 'block';
        })
    });
</script>
</html>